

<div class="container mt-5">
  <!-- Bank and Group Title -->
  <div class="d-flex justify-content-between align-items-center mb-5">
    <div>
      <h1 class="display-4"><%= @bank_name %></h1>
      <h3 class="text-muted d-inline">Investment Banking Group</h3>
    </div>
    <div>
      <!-- Button to Trigger Modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newPersonModal">
        Add Person
      </button>
    </div>
  </div>


  <!-- Filter Button to Open Modal -->
  <div class="text-end mb-3">
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#filterModal">
      Open Filters
    </button>
  </div>

  <!-- Filter Modal -->
  <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filterModalLabel">Filter People</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'filter_form' %>
        </div>
      </div>
    </div>
  </div>

<!-- People Sections -->
  <div class="container mt-5">
  <% @bank_levels.each do |level| %>
    <h3 class="mb-3"><%= level %></h3>
    <hr>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
      <% @people.select { |person| person.level == level }.each do |person| %>
        <div class="col">
          <%= render partial: "person_card", locals: { person: person } %>
        </div>
      <% end %>
    </div>
  <% end %>

  <!-- Unspecified Level -->
  <% @unspecified_people = @people.select { |person| person.level.blank? } %>
  <% if @unspecified_people.any? %>
    <h3 class="mb-3">Level Not Specified</h3>
    <hr>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
      <% @unspecified_people.each do |person| %>
        <div class="col">
          <%= render partial: "person_card", locals: { person: person } %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>




    
  </div>
</div>

<div class="d-grid gap-2 col-6 mx-auto">
  <% if params[:page_id].present? && params[:page_name].present? %>
    <%= link_to 'Back to Bank Page', page_path(params[:page_id]), class: 'btn btn-primary btn-lg' %>
  <% else %>
    <%= link_to 'Back to Bank Page', root_path, class: 'btn btn-primary btn-lg' %>
  <% end %>
</div>



<!-- Modal for adding person -->
<div class="modal fade" id="newPersonModal" tabindex="-1" aria-labelledby="newPersonModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newPersonModalLabel">Add a New Person</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Render the Form Partial -->
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
