<div class="card" style="width: 18rem;">
  <!-- Image -->
  <% if item[:image_url].present? %>
    <%= image_tag item[:image_url], class: "card-img-top", alt: item[:name] %>
  <% else %>
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Placeholder Image">
  <% end %>

  <!-- Card Body -->
  <div class="card-body">
    <h5 class="card-title"><%= item[:name].presence || "No name provided" %></h5>
    <p class="card-text"><%= item[:description].presence || "No description provided." %></p>
  </div>


  <% if item[:custom_fields].present? %>
    <ul class="list-group list-group-flush">
      <% item[:custom_fields].each do |field_name, field_value| %>
        <li class="list-group-item">
          <strong><%= field_name.presence || "Unnamed field" %></strong>: 
          <%= field_value.presence || "No value provided" %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
