<div id="<%= dom_id tier_list %>">
  <p>
    <strong>Name:</strong>
    <%= tier_list.name %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= tier_list.created_by_id %>
  </p>

  <p>
    <strong>Short description:</strong>
    <%= tier_list.short_description %>
  </p>

  <p>
    <strong>Custom fields:</strong>
    <%= tier_list.custom_fields %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= tier_list.published %>
  </p>

</div>
