<div id="<%= dom_id tier_list %>" class="card mb-4 shadow-sm">
  <div class="card-body">

    <!-- Creator Information -->
    <p class="card-text">
      <strong>Tier List Name:</strong>
      <%= tier_list.name %>
    </p>

    <!-- Creator Information -->
    <p class="card-text">
      <strong>Created by:</strong>
      <%= tier_list.creator.user_name || "No username" %>
    </p>

    <!-- Short Description -->
    <p class="card-text">
      <strong>Short description:</strong>
      <%= tier_list.short_description %>
    </p>

    <!-- Custom Fields -->
    <p class="card-text">
      <strong>Custom fields:</strong>
      <% if tier_list.custom_fields.present? %>
        <ul class="list-group list-group-flush">
          <% tier_list.custom_fields.each do |field| %>
            <li class="list-group-item">
              <strong><%= field[:name] %></strong>: 
              <% if field[:data_type] == "String" %>
                Text
              <% elsif field[:data_type] == "Integer" %>
                Number
              <% elsif field[:data_type] == "Boolean" %>
                True/False
              <% elsif field[:data_type] == "Date" %>
                Date
              <% else %>
                Text
              <% end %>
            </li>

          <% end %>
        </ul>
      <% else %>
        <span>No custom fields provided.</span>
      <% end %>
    </p>

    <div>
      <% if @tier_list&.id.present? %>
        <hr>
        <%= link_to "Add items", new_tier_list_item_path(@tier_list), class: "btn btn-primary" %>
      <% end %>

    </div>

  </div>
</div>
