<div id="<%= dom_id tier_list %>" class="card mb-4 shadow-sm">
  <div class="card-body">

    <!-- Creator Information -->
    <p class="card-text">
      <strong>Tier List Name:</strong>
      <%= tier_list.name %>
    </p>

    <!-- Creator Information -->
    <p class="card-text">
      <strong>Created by:</strong>
      <%= tier_list.creator.user_name || "No username" %>
    </p>

    <!-- Short Description -->
    <p class="card-text">
      <strong>Short description:</strong>
      <%= tier_list.short_description %>
    </p>

    <!-- Custom Fields -->
    <p class="card-text">
      <strong>Custom fields:</strong>
      <% if tier_list.custom_fields.present? %>
        <ul class="list-group list-group-flush">
          <% tier_list.custom_fields.each do |field| %>
            <li class="list-group-item">
              <strong><%= field[:name] %></strong>: <%= field[:data_type] %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <span>No custom fields provided.</span>
      <% end %>
    </p>

    <hr>
    
    <div>
      <%= link_to "Add items", new_tier_list_item_path(@tier_list), class: "btn btn-primary" %>
    </div>

    <!--    <p class="card-text">
      <strong>Published:</strong> 
      <span class="badge <%#= tier_list.published ? 'bg-success' : 'bg-secondary' %>">
        <%#= tier_list.published ? "Yes" : "No" %>-->
    <!--      </span>
    </p>-->

  </div>
</div>
