<!-- Modal Structure -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">Filter Items</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Filter Form -->
<%= search_form_for @q, url: rank_item_tier_list_path(@tier_list, @current_item), method: :get do |f| %>
  <!-- Add a filter for item name -->
  <div class="mb-3">
    <%= f.label :name_cont, "Name" %>
    <%= f.text_field :name_cont, class: "form-control", placeholder: "Contains" %>
  </div>

  <!-- Dynamic filters based on custom fields -->
  <% @field_types.each do |field_name, data_type| %>
  <div class="mb-3">
    <%= f.label "custom_#{field_name.parameterize(separator: '_')}_cont", field_name %>
    <% if data_type == "String" %>
      <%= f.select "custom_#{field_name.parameterize(separator: '_')}_cont", 
                   options_for_select(
                     @tier_list.items.pluck(:custom_field_values)
                                   .map { |cf| cf[field_name] }
                                   .compact
                                   .reject(&:blank?)
                                   .map(&:strip)
                                   .map(&:downcase)
                                   .uniq
                                   .map(&:capitalize)
                   ), 
                   { prompt: "Select a value" }, 
                   { class: "form-select", "aria-label" => "Default select example" } %>
    <% end %>
  </div>
<% end %>

          <div class="modal-footer">
            <%= f.submit "Apply Filters", class: "btn btn-primary" %>
            <%= link_to "Clear Filters", rank_item_tier_list_path(@tier_list, @current_item), class: "btn btn-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
