<div class="creator-rankings-section border p-3" style="background-color: #f8f9fa;">
  <h3 class="text-left mb-0">Creator's Rankings for <%= @tier_list.name %></h3>
  <hr class="mt-0">

  <div class="container-fluid mt-1">
    <% @rank_to_tier_map.values.each_with_index do |tier, index| %>
      <div class="row align-items-center mb-3 g-0">
        <!-- Tier Label -->
        <div class="col-auto text-center d-flex align-items-center justify-content-center flex-shrink-0" 
             style="width: 70px; height: 70px;">
          <div class="text-dark fw-bold w-100 h-100 d-flex align-items-center justify-content-center fs-5 rounded-start flex-wrap"
               style="background-color: <%= ["#FF7F7F", "#FFBF7F", "#FFDF7F", "#BFFF7F", "#7FFF7F", "#7FFFFF"][index] %>; 
                      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);">
            <%= tier %>
          </div>
        </div>

        <!-- Tier Items -->
        <div class="col">
          <div class="d-flex align-items-center gap-1 flex-wrap bg-white h-100" style="padding: 5px; box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);">
            <!-- Filter items based on the mapped rank -->
            <% creator_ranked_items_for_tier = @creator_ranked_items.select { |item| @rank_to_tier_map[item["rank"]] == tier } %>

            <% 10.times do |i| %>
              <% item = creator_ranked_items_for_tier[i] %>
              <div class="d-flex flex-column justify-content-center align-items-center text-center flex-shrink-0"
                   style="width: 60px; height: 60px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); background-color: <%= item ? '#fff' : '#e0e0e0' %>;">
                <% if item %>
                  <!-- Item Card -->
                  <div id="item-card-<%= item["id"] || 'no-id' %>" class="position-relative w-100 h-100">
                    <%= image_tag(item["image_url"].present? ? item["image_url"] : asset_path('egg.png'),
                                  id: "item-image", class: "w-100 h-100", alt: "Tier List Item",
                                  style: "object-fit: cover; border-radius: 0px; cursor: pointer;") %>
                    <div class="position-absolute d-flex flex-column justify-content-end"
                         style="background: rgba(0, 0, 0, 0.6); color: white; height: auto; width: 100%; bottom: 0; padding: 3px;">
                      <h5 id="item-title" class="mb-0 text-truncate" style="font-size: 0.6rem;"><%= item["name"] %></h5>
                    </div>
                  </div>
                <% else %>
                  <p class="text-muted m-0 text-center" style="font-size: 0.75rem;">Empty</p>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
