<!-- Top of the page - call to action to create a tier list -->
<body>

  <div class="container text-center py-5">
    <h1 class="display-4 fw-bold pb-4">Create a Tier List</h1>
    <p class="lead pb-4">
      A tier list is a simple way to rank classes, teachers, or graduate programs from best to worst. It helps group similar options together and makes comparing them quick and easy.
    </p>
    <div class="d-flex justify-content-center gap-2 mt-3">
      <% if @allow_create == true %>

        <%= link_to "Create new tier list", new_tier_list_path, class: "btn btn-primary btn-lg" %>

      <% else %>

        <%= link_to "Sign in to create new tier list", new_user_registration_path, class: "btn btn-primary btn-lg" %>

      <% end %>


    </div>
  </div>

  <hr>

  <!--Filter tier lists-->
  <!--Not needed, a nice to have for later-->

  <div class="d-flex">
    <div class="ms-auto">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
          Filter
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!--Find tier lists ( from a list of already created tier lists) -->

  <div class="container py-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% if @tier_lists.present? %>
        <% @tier_lists.each do |tier_list| %>
          <div class="col pb-4 d-flex justify-content-center">
            <div class="card tierlistcard">
              <%= image_tag(tier_list.image || 'egg.png', class: 'card-img-top card-img-custom', alt: 'Tier List Image') %>
              <hr class="m-0 p-0">
              <div class="card-body">
                <h5 class="card-title"><%= tier_list.name %></h5>
                <p class="card-text"><%= tier_list.short_description %></p>
                <%= link_to 'View Tier List', tier_list_path(tier_list), class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="col d-flex justify-content-center align-items-center" style="height: 200px;">
          <p class="text-center">No published tier lists found.</p>
        </div>
      <% end %>
    </div>
  </div>




</body>
