
<body>

<div class="container mt-5">
  <div class="row g-0 align-items-stretch">
    <!-- Carousel Section -->
    <div class="col-lg-8 col-md-7 col-sm-12">
      <div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators/Dots -->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <!-- Carousel Inner -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://via.placeholder.com/700x350" class="d-block w-100 object-fit-cover" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h5><strong>MOANA 2 CRUISES TO BOX OFFICE WIN</strong></h5>
              <p>Wicked and Gladiator II hold strong</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://via.placeholder.com/700x350" class="d-block w-100 object-fit-cover" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <h5><strong>AWARDS LEADERBOARD</strong></h5>
              <p>Nickel Boys, Wicked take the lead</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://via.placeholder.com/700x350" class="d-block w-100 object-fit-cover" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <h5><strong>BEST CHRISTMAS MOVIES</strong></h5>
              <p>From holiday classics to Netflix originals</p>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!-- Single Image Section -->
    <div class="col-lg-4 col-md-5 col-sm-12">
      <%= link_to article_path(id: 1), class: "d-block h-100" do %> <!-- Navigate to /articles/1 -->
        <div class="position-relative h-100">
          <%= image_tag 'jerry_maguire.jpg', class: 'img-fluid h-100 object-fit-cover', alt: 'Jerry Maguire' %>
          <div class="position-absolute top-50 start-50 text-white text-center bg-dark bg-opacity-75 p-2 rounded" style="transform: translate(-50%, 50%);"><!-- Adjusted top value -->
            <h6><strong>ARTICLE SPOTLIGHT</strong></h6>
            <p class="m-0"><strong>Burnout or Big Bucks: </strong> <br> Who should go into Investment Banking?</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>









<!-- Top of the page - call to action to create a tier list -->
  <div class="container text-center py-5">
    <h1 class="display-4 fw-bold pb-4">Create a Tier List</h1>
    <p class="lead pb-4">
      A tier list is a simple way to rank classes, teachers, or graduate programs from best to worst. It helps group similar options together and makes comparing them quick and easy.
    </p>
    <div class="d-flex justify-content-center gap-2 mt-3">
      <% if @allow_create == true %>

        <%= link_to "Create new tier list", new_tier_list_path, class: "btn btn-primary btn-lg" %>

      <% else %>

        <%= link_to "Sign in to create new tier list", new_user_registration_path, class: "btn btn-primary btn-lg" %>

      <% end %>


    </div>
  </div>

  <hr>

  <!--Filter tier lists-->
  <!--Not needed, a nice to have for later-->

  <div class="d-flex">
    <div class="ms-auto">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
          Filter
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!--Find tier lists ( from a list of already created tier lists) -->

  <div class="container py-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% if @tier_lists.present? %>
        <% @tier_lists.each do |tier_list| %>
          <div class="col pb-4 d-flex justify-content-center">
            <div class="card tierlistcard">
              <%= image_tag(tier_list.image.attached? ? tier_list.image : 'egg.png', class: 'card-img-top card-img-custom', alt: 'Tier List Image') %>
              <hr class="m-0 p-0">
              <div class="card-body">
                <h5 class="card-title"><%= tier_list.name %></h5>
                <p class="card-text"><%= truncate(tier_list.short_description, length: 150, separator: ' ') %></p>
                <%= link_to 'View Tier List', tier_list_path(tier_list), class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="col d-flex justify-content-center align-items-center" style="height: 200px;">
          <p class="text-center">No published tier lists found.</p>
        </div>
      <% end %>
    </div>
  </div>

  <h6> Will need to be refined later, for texting purposes </h6>
  <%= link_to 'View All Pages', pages_path, class: 'btn btn-secondary' %>
  <%= link_to 'Create a New Page', new_page_path, class: 'btn btn-primary' %>

</body>
