<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <nav>
      <!-- Site Title aligned to the left -->
      <h1> <%= link_to root_path do %>
        <%= image_tag('logo.png', alt:'Logo')%>
      <%end%> </h1>


      <hr>
      
    </nav>
    <%= yield %>
  </body>
</html>
